<hr>
<div>
    <p>
        <b>Binding: {{tutorialObject.bindOutput}}</b>
    </p>
    <h3>{{tutorialObject.fname}} {{tutorialObject.lname | uppercase}}</h3>
</div>
<label for="">First Name</label>
<input type="text" ng-model="tutorialObject.fname">
<label for="">Last Name</label>
<input type="text" ng-model="tutorialObject.lname">
<button ng-click="timesTwo()">Times 2</button>
<!-- directive -->
<tb-welcome-message></tb-welcome-message>
<span tb-attribute-directive></span>
<both-att-and-element></both-att-and-element>
<span both-att-and-element>BOTH</span>
<test></test>
<p>c square: {{ csquare }}</p>
<p>multiply: {{numberMuliplyBy}}</p>
<a href="#/tutorialSecond">Tutorial Second Page</a>